<h1>edit</h1>
<%#= button_to "back to overview", sprint_data_path, method: :get %>


<%= simple_form_for(@sprint_datum, url: sprint_sprint_datum_path(sprint_id: params[:sprint_id], id: @sprint_datum.id), method: :put) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
  </div>
  <table border = 1 style="border-collapse: collapse;">
    <tr>
      <% @sprint_datum&.sorted_column_names&.each do |column| %>
        <th><%= column.name %>-<%= column.position %></th>
      <% end %>
    </tr>
    <tr>
      <%= f.simple_fields_for :sprint_data_columns, @sprint_datum.sorted_sprint_data_columns do |column| %>
        <td>
          <%= column.input :sprint_data_column_definition_id, :as => :hidden, :input_html => { :value => column.object.sprint_data_column_definition_id } %>
          <%= column.input :ticket_count %>
          <%= column.input :story_points %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td colspan="300">
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
        <%= button_to "back to #{Sprint.find(params[:sprint_id]).name}", sprint_path(params[:sprint_id])%>
      </td>
    </tr>
  </table>


<% end %>
