<h1>sprint data</h1>
<%= button_to "create new Sprint Data view", new_sprint_datum_path, method: :get %>
<%= button_to "create new column names", sprint_data_column_definitions_path, method: :get %>
<ol>

<%- @sprint_data.each do |sprint_date| %>
<li>date: '<%=sprint_date.date %>' </li>
    <ul>
      <% sprint_date.sprint_data_columns.each do |column| %>
      <li>
        name: <%=column.name %> –
        ticket_count: <%=column.ticket_count %> –
        story_points: <%=column.story_points %>
      </li>
       <% end %>
    </ul>
<% end %>
</ol>
