<%= form_for sprint, method: method do |f| %>
  <table border="1" style="border-collapse: collapse;">
    <tr>
      <td>iteration_id</td><td><%= f.text_field :iteration_id %></td>
    </tr><tr>
      <td>name</td><td><%= f.text_field :name %></td>
    </tr><tr>
      <td>description</td><td><%= f.text_field :description %></td>
   </tr><tr>
      <td>member_data</td><td><%= f.text_area :member_data %></td>
    </tr>
    <tr>
      <td>start_time</td><td><%= f.datetime_select :start_time %></td>
    </tr>
    <tr>
      <td>end_time</td><td><%= f.datetime_select :end_time %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right"><%= f.button :submit %></td>
    </tr>
  </table>
<% end %>
