<h1>Sprints</h1>

<%= button_to("new", new_sprint_path , method: :get) %>
<%- @sprints.each do |sprint| %>
  id:<%= sprint.id %> -
  iteration-id:<%= sprint.iteration_id %> -
  name:<%= sprint.name %> -
  description:<%= sprint.description %></br>
  <%= sprint.member_data %>
  <%= link_to("details", sprint_path(sprint)) %>
  <%= link_to("delete", sprint_path(sprint), data: { turbo_method: :delete }) %>
  </br>
<%- end %>