<div id="<%= dom_id man_hour %>">
  <p>
    <strong>Date:</strong>
    <%= man_hour.date %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= man_hour.max %>
  </p>

  <p>
    <strong>Planned absences:</strong>
    <%= man_hour.planned_absences %>
  </p>

  <p>
    <strong>Unplanned absences:</strong>
    <%= man_hour.unplanned_absences %>
  </p>

</div>
