<p style="color: green"><%= notice %></p>

<%= render @man_hour %>

<div>
  <%= link_to "Edit this man hour", edit_man_hour_path(@man_hour) %> |
  <%= link_to "Back to man hours", man_hours_path %>

  <%= button_to "Destroy this man hour", @man_hour, method: :delete %>
</div>
